{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cotavia</title>
    <script
      type="module"
      crossorigin
      src="{% static 'cotavia/javascript/interface.js' %}"
    ></script>
    <link rel="stylesheet" href="{% static 'cotavia/css/interface.css' %}" />
  </head>
  <body>
    <form id="token">{% csrf_token %}</form>
    <div id="root"></div>
  </body>
</html>
